/* BASE */

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Fragment+Mono:ital@0;1&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --dark-gray: #1e1e1e;
  --gray: #383838;
  --light-gray: #8e8e8e;
  --blue: #6bc1ff;
  --light-blue: #d9efff;
  --red: rgb(227, 62, 62);

  --primary-color: var(--blue);
  --primary-color-light: var(--light-blue);

  --font-sans: "Hanken Grotesk", sans-serif;
  --font-mono: "Fragment Mono", monospace;
  --font-base: 1rem;
  --font-large: 2rem;
  --font-small: 0.875rem;
  --font-weight-light: 200;
  --font-weight-regular: 300;
  --font-weight-bold: 600;
  --line-height-tight: 1.3;
  --line-height-normal: 1.6;
  --line-height-loose: 2;
  --letter-spacing-tight: -0.01em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.1em;

  --background-color: var(--black);
  --foreground-color: var(--white);

  --rhythm: 1.5rem;
  --border-radius: 12px;
  --border-radius-full: 100px;
  --border-dotted: 1px dotted var(--gray);
  --border: 1px solid var(--gray);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-regular);
  background-color: var(--background-color);
  color: var(--foreground-color);
  line-height: var(--line-height-normal);
  margin: 0;
  height: 100%;
}

/* TEXT */

h1 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
}

h2,
th,
label {
  font-family: var(--font-mono);
  font-size: var(--font-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
}

/* UI COMPONENTS */

a,
button {
  all: unset;
}

hr {
  border: none;
  border-top: var(--border-dotted);
  margin: var(--rhythm) 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  transform: translateY(10px);
  opacity: 0;
  width: auto;
  bottom: 100%;
  left: 0%;
  margin-bottom: calc(var(--rhythm) * 0.75);
  background-color: var(--foreground-color);
  color: var(--background-color);
  text-align: center;
  padding: calc(var(--rhythm) * 0.5);
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 1;
  text-transform: none;
  font-family: var(--font-sans);
  font-size: calc(var(--font-small) * 0.95);
  font-weight: var(--font-weight-regular);
  transition: all ease 0.3s;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* SIDEBAR */

.sidebar {
  width: 270px;
  background-color: var(--background-color);
  border-right: var(--border-dotted);
  padding: var(--rhythm);
  margin: var(--rhythm) 0;
  inset: calc(var(--rhythm) * 0.01) 0;
  position: fixed;
}

ul.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: calc(var(--rhythm) * 1);
  display: flex;
  flex-direction: column;
  gap: calc(var(--rhythm) * 0.75);
}

.sidebar-logo {
  fill: var(--foreground-color);
}

.sidebar-item {
  font-size: var(--font-base);
  color: var(--light-gray);
  border-radius: 4px;
}

.sidebar-link,
.sidebar-link-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--rhythm) * 0.5);
  cursor: pointer;
  padding: calc(var(--rhythm) * 0.5);
  fill: currentColor;
}

.sidebar-item:has(.sidebar-link-active) {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.sidebar-link-active .sidebar-icon {
  fill: var(--background-color);
}

.sidebar-icon {
  transform: scale(1.15);
}

.main-content {
  overflow-y: auto;
  margin-left: calc(270px + calc(var(--rhythm) * 0.15));
  height: 100vh;
  padding: var(--rhythm);
  padding-bottom: calc(var(--rhythm) * 2);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--rhythm);
}

.primary-btn {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* background-color: var(--primary-color);
  color: var(--foreground-color); */
  padding: calc(var(--rhythm) * 0.5) var(--rhythm);
  font-family: var(--font-mono);
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  position: relative;
  top: 0;
  right: 0;
}

.primary-btn:hover {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

.icon-btn {
  color: var(--foreground-color);
  cursor: pointer;
  padding: calc(var(--rhythm) * 0.5);
  transition: color 0.3s;
  position: relative;
}

.icon-btn:hover {
  color: var(--primary-color);
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--rhythm) * 1);
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--rhythm);
  font-size: var(--font-small);
}

tbody tr:nth-child(even) {
  background-color: var(--dark-gray);
}

tr {
  border-bottom: var(--border-dotted);
  padding: calc(var(--rhythm) * 2);
}

td,
th {
  padding: calc(var(--rhythm) * 1) calc(var(--rhythm) * 0.5);
}

th {
  text-transform: uppercase;
  text-align: left;
}

.highlight,
.highlight-green {
  text-transform: capitalize;
  background: #060d1c;
  color: #84caff;
  padding: calc(var(--rhythm) * 0.25) calc(var(--rhythm) * 0.75);
  border: 1px solid #84caff;
  border-radius: var(--border-radius-full);
  font-size: calc(var(--font-small) * 0.95);
  text-align: center;
}

.highlight-green {
  background: #061c15;
  color: #7fffd4;
  border-color: #7fffd4;
}

td:has(.highlight, .highlight-green) {
  text-align: center;
}

td.col-actions {
  display: flex;
  flex-direction: row;
}

/* FORMS */
input,
textarea,
select {
  width: 100%;
  padding: calc(var(--rhythm) * 0.75);
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--dark-gray);
  color: var(--foreground-color);
  font-size: var(--font-base);
  font-family: var(--font-sans);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--primary-color);
}

textarea {
  min-height: 100px;
}

option {
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-direction: row;
  gap: calc(var(--rhythm) * 1.5);
  margin-bottom: calc(var(--rhythm) * 1.5);
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: calc(var(--rhythm) * 0.5);
  width: 100%;
}
